# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
/src/.DS_Store
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.production
.env.testing

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/yarm.lock
# Sentry
.sentryclirc
yarn.lock
# Sentry
next.config.original.js

# Ignore package managers lock files
package-lock.json
yarn.lock

Dockerfile.develop
Dockerfile.staging

# Testing and production files managed on their own branches
Jenkinsfile.testing
Jenkinsfile
Jenkinsfile.*
Dockerfile.testing
Dockerfile
Dockerfile.*
Dockerfile.production

.github/workflows/deploy-develop.yml
.github/workflows/deploy-staging.yml
.github/workflows/deploy-testing.yml
.github/workflows/deploy-production.yml

.gitlab-ci.yml
.dockerignore
