body {
  .progessbar {
    @apply relative rounded-none py-4;
   > div:first-child {
      @apply bg-transparent;
   }
    div:first-child {
      @apply rounded-none;
    }
    div:nth-child(2), div:nth-child(3), div:nth-child(4) {
      @apply relative;
      div {
        @apply h-[10px] leading-[10px];
        font-size: 3px;
        &::after { 
          @apply absolute text-black text-xxxs left-0 -top-3 left-0;
        }
      }
    }
    div:nth-child(2) {
      div {
        &::after {
          content: "Yes";
        }
      }
    }
    div:nth-child(3) {
        div {
          &::after {
            content: "Not Sure";
          }
        }
      }
      div:nth-child(4) {
        div {
          &::after {
            content: "No";
          }
        }
      }
  }
}
